<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC9BF76D1D78F28000C2FC17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC9BF7811D78F28000C2FC17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC9BF78C1D78F28000C2FC17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
